name: CI Pipeline

# Déclencheur : se lance à chaque "push"
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v2

      - name: Configurer Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Installer les dépendances
        run: |
          pip install pytest

      - name: Exécuter les tests
        run: |
          pytest tests/
